body{    
    width: 600px;
    margin: 0 auto;
    font-family: Helvetica;
}
.upper-header p{
    font-size: 16px;
    text-align: justify;
    padding: 0px 10px;
}
.upper-header{
    padding: 18px 0px;
    background-color: #faf1ed;
}
.bottom-header{
    text-align: center;
}
.bottom-header img{
    width: 500px;
    margin: auto;
    
}
.content{
    text-align: center;
}
.content-h1{
    font-size: 26px;
    text-align: center;
    margin: 10px 0px 0px 0px;
}
.content-p{
    margin: 10px 0px;
    font-size: 25px;
    text-align: center;
}

.content-p-buttom{
    font-size: 24px;

}
.content-button{
    color: white;
    font-size: 24px;
    border-radius: 10px;
    background-color: black;
    padding: 18px;
}
.content-img{
    width: 100%;
}
.link-text{
    text-align: center;
}
.link-text a{
    font-size: 24px;
    text-decoration: underline;
    color: black;
}
.link-icon{
    text-align: center;
    margin: 30px 0px;
}
.link-icon img{
    width: 50px;
}
ul{
    list-style: none;
    
    text-align: center;
    font-size: 12px;
    color: #656565;
    
}
li{
    display: inline;
    text-decoration: underline;
    padding: 10px;
    color: #656565;
}
.description p{
    color: #656565;
    font-size: 12px;
    text-align: center;
    padding: 0px 48px;
}